*_history
*.old
*.save

.cache/
.cargo/
.gnupg/
.local/
.mozilla/
.npm/
.nvm/
.pcloud/
.pki/
.rustup/
.ssh/
.steam/
.vscode-oss/

Applications/
dev/
Desktop/
Documents/
Downloads/
Drives/
Music/
pCloudDrive/
Pictures/
Public/
Templates/
Videos/

-L

.bash_logout
.dmrc
.histfile
.ICEauthority
.lesshst
.nvidia-settings-rc
.profile
.pulse-cookie
.steampath
.steampid
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
.zcompdump

nohup.out

# .config
.config/xfce4/panel/
.config/xfce4/desktop/

autostart/
bleachbit/
BraveSoftware/
cef_user_data/
Code/
Code\ -\ OSS/
codeblocks/
czkawka/
dconf/
deemix/logs/
deemix/queue/
deemix-gui/
discord/
Electron/
ExifCleaner/
geeqie/
geogebra/
GeoGebra/
GIMP/
github-copilot/
glib-2.0/
gtk-2.0/
gtk-3.0/
gtk-4.0/
ibus/
Imagine/
keepassxc/
Kilian\ Valkhof/
koodo-reader/
libreoffice/
Logseq/
matplotlib/
menus/
Mousepad/
neofetch/
nvim.bak/
obsidian/
obs-studio/
onlyoffice/
pavucontrol.ini/
pcloud/
pulse/
QtProject.conf/
qtile/
rasa/
ristretto/
Session/
Signal/
SpeedCrunch/
spotify/
Standard\ Notes/
strawberry/
Thunar/
unity3d/
user-dirs.dirs/
user-dirs.locale/
VeraCrypt/
vlc/
VSCodium/
xfburn/
xfce4-dict/
yay/

appimagelauncher.cfg
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale

# xfce4
parole.xml
ristretto.xml
thunar.xml
taskmanager.xml
xfce4-panel.xml
xfce4-taskmanager.xml
