*_history
*.old
*.save

.cache/
.cargo/
.fzf/
.gnupg/
.keras/
.local/
.MATLABConnector/
.MathWorks/
.matlab/
.mozilla/
.npm/
.nvm/
.pcloud/
.pki/
.rustup/
.ssh/
.steam/
.vscode-oss/
.java/
packettracer/
wine/

Applications/
dev/
Desktop/
Documents/
Downloads/
Drives/
Music/
pCloudDrive/
Pictures/
Public/
Templates/
Videos/

.bash_logout
.dmrc
.histfile
.ICEauthority
.lesshst
.nvidia-settings-rc
.packettracer
.profile
.pulse-cookie
.steampath
.steampid
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
.zcompdump

nohup.out

# .config
.config/xfce4/panel/
.config/xfce4/desktop/

autostart/
bleachbit/
BraveSoftware/
cef_user_data/
Code/
Code\ -\ OSS/
codeblocks/
czkawka/
dconf/
deemix/logs/
deemix/queue/
deemix-gui/
discord/
Electron/
ExifCleaner/
geeqie/
geogebra/
GeoGebra/
GIMP/
github-copilot/
glib-2.0/
gtk-2.0/
gtk-3.0/
gtk-4.0/
ibus/
Imagine/
keepassxc/
Kilian\ Valkhof/
koodo-reader/
libreoffice/
Logseq/
matplotlib/
menus/
Mousepad/
neofetch/
nvim.bak/
obsidian/
obs-studio/
onlyoffice/
pavucontrol.ini/
pcloud/
pulse/
QtProject.conf/
qtile/
rasa/
ristretto/
Session/
Signal/
SpeedCrunch/
spotify/
Standard\ Notes/
strawberry/
Thunar/
unity3d/
user-dirs.dirs/
user-dirs.locale/
VeraCrypt/
vlc/
VSCodium/
xfburn/
xfce4-dict/
yay/

appimagelauncher.cfg
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale

# xfce4
xfce4/

# Created by https://www.toptal.com/developers/gitignore/api/linux
# Edit at https://www.toptal.com/developers/gitignore?templates=linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# End of https://www.toptal.com/developers/gitignore/api/linux
