*_history
*.old
*.save

.cache/
.cargo/
.gnupg/
.local/
.mozilla/
.npm/
.nvm/
.pcloud/
.pki/
.rustup/
.ssh/
.steam/
.vscode-oss/

Applications/
dev/
Desktop/
Documents/
Downloads/
Drives/
Music/
pCloudDrive/
Pictures/
Public/
Templates/
Videos/

-L

.bash_logout
.dmrc
.histfile
.ICEauthority
.lesshst
.nvidia-settings-rc
.profile
.pulse-cookie
.steampath
.steampid
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
.zcompdump

nohup.out

# .config

autostart/
BraveSoftware/
cef_user_data/
Code/
Code\ -\ OSS/
codeblocks/
qtile/
czkawka/
dconf/

# deemix

.config/deemix/logs/
.config/deemix/queue/

deemix-gui/
discord/
Electron/
ExifCleaner/
geeqie/
gtk-3.0/
keepassxc/
koodo-reader/
menus/
Mousepad/
neofetch/
nvim/
obs-studio/
obsidian/
onlyoffice/
pcloud/
pulse/
Signal/
spotify/
Standard\ Notes/
strawberry/
Thunar/
unity3d/
vlc/
VSCodium/

# xfce4

.config/xfce4/desktop/
.config/xfce4/panel/
.config/xfce4/src/
.config/xfce4/xfwm4.xml/
.config/xfce4/xfce4-screenshooter
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml

yay/

appimagelauncher.cfg
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
