[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/donkey/Desktop/cursos]
row=4
col=0

[/home/donkey/Desktop/brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=3
col=0

[/home/donkey/Desktop/donkey]
row=2
col=0

[/home/donkey/Desktop/brave-pjibgclleladliembfgfagdaldikeohf-Default.desktop]
row=5
col=0

[/home/donkey/Desktop/appimagelauncher-lite-2.2.0-travis995-0f91801-x86_64.AppImage]
row=6
col=0

[/]
row=0
col=0

[/home/donkey]
row=1
col=0

