[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alan08/Desktop/Classroom]
row=5
col=1

[/home/alan08/Desktop/escuela]
row=1
col=2

[/home/alan08/Desktop/new-cursos]
row=3
col=1

[/home/alan08/Desktop/programas]
row=2
col=2

[/home/alan08/Desktop/pacman.md]
row=3
col=0

[/home/alan08/Desktop/git-escuela]
row=6
col=0

[/home/alan08/Desktop/drive-recursos]
row=2
col=1

[/home/alan08/Desktop/recursos]
row=3
col=2

[/home/alan08/Desktop/git-4to]
row=4
col=1

[/home/alan08/Desktop/brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=1
col=1

[/home/alan08/Desktop/Games]
row=8
col=1

[/home/alan08/Desktop/4to]
row=5
col=0

[/home/alan08/Desktop/drive-4to]
row=8
col=0

[/home/alan08/Desktop/htdocs]
row=0
col=1

[/home/alan08/Desktop/git-cursos]
row=7
col=0

[/home/alan08/Desktop/Xampp]
row=6
col=1

[/home/alan08/Desktop/alan08]
row=2
col=0

[/home/alan08/Desktop/repositories]
row=4
col=0

[/home/alan08/Desktop/cursos]
row=0
col=2

[/home/alan08/Desktop/5to]
row=7
col=1

[/]
row=0
col=0

[/home/alan08]
row=1
col=0

