[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/donkey/Desktop/recursos]
row=5
col=1

[/home/donkey/Desktop/cursos]
row=6
col=0

[/home/donkey/Desktop/drive-4to]
row=8
col=0

[/home/donkey/Desktop/htdocs]
row=2
col=1

[/home/donkey/Desktop/platzi.com_clases_examen_resultados_1719_.pdf]
row=8
col=1

[/home/donkey/Desktop/4to]
row=2
col=0

[/home/donkey/Desktop/new-cursos]
row=3
col=1

[/home/donkey/Desktop/New Folder]
row=0
col=2

[/home/donkey/Desktop/drive-5to]
row=0
col=1

[/home/donkey/Desktop/escuela]
row=1
col=1

[/home/donkey/Desktop/platzi.com_clases_examen_resultados_2373_.pdf]
row=7
col=1

[/home/donkey/Desktop/classroom]
row=5
col=0

[/home/donkey/Desktop/donkey]
row=7
col=0

[/home/donkey/Desktop/5to]
row=3
col=0

[/home/donkey/Desktop/programas]
row=4
col=1

[/home/donkey/Desktop/pacman.md]
row=6
col=1

[/home/donkey/Desktop/games]
row=4
col=0

[/]
row=0
col=0

[/home/donkey]
row=1
col=0

