[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alan08/Desktop/repositories]
row=4
col=0

[/home/alan08/Desktop/pacman.md]
row=3
col=0

[/home/alan08/Desktop/alan08]
row=2
col=0

[/]
row=0
col=0

[/home/alan08]
row=1
col=0

